<% @title = "#{@movie_id}の2015年6月17日12:00の市場情報｜ニコニコ市場アーカイブ" %>
<div id="info">
  <div id="movie_container">
    <iframe width="312" height="176" src="http://ext.nicovideo.jp/thumb/<%= @movie_id %>" scrolling="no" frameborder="0" id="nico_movie" class="nicovideo"></iframe>
  </div>
  <h2>
    <p id="date_example"><%= @now_date %>の市場</p>
  </h2>
  <%= render partial: 'shared/date_select', locals: { history: @history, date_params: @date_params } %>
  <p id="link_to_all_products"><%= link_to '→この動画に登録されたすべての商品を表示する', movie_show_all_path(@movie_id) %></p>
</div>
<div id="main">
  <div id="products">
    <% @products.each do |product| %>
      <%= render partial: 'shared/product', locals: { product: product } %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>